node_modules
npm-debug.log
Dockerfile
.dockerignore
.git
.gitignore
.env
.env.*
dist
build
uploads
data
*.log
*.bak_teatube*
*.bak_teatube_all*
*.bak
*.tmp
.local
.vscode
.idea
.DS_Store
coverage
**/node_modules
